.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 163, 60);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.origami{
    border-radius: 20px;
    background-color: rgb(240, 208, 160);
    width: 300px;
    height: 5s00px;
    font-family:cursive;
    border-style:outset;
}
.grid img{
  border: 2px solid rgb(163, 107, 23);
  border-radius: 50px ;
  box-shadow: 5px - 5px;
}
body{
    background-color: rgb(216, 221, 143);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bodyimg{
    display:flex;
    justify-content:space-around;
    background-color:rgb(163, 190, 66);
    border-radius:20px;
}



